@import "_normalize";
body{
  background-color: black;
  margin: 20px;
  font-family: 'Merriweather', serif;
}
.head{
  height: 15vh;
}
.head_diamond, .head_dia {
  margin: 0 auto;
  transform-origin: 50% 50%;
  overflow: hidden;
  width: 300px;
  height: 300px;
}
.head_diamond {
  transform: rotate(45deg) translateY(-25px) translateX(-25px);
}
.head_diamond .head_dia {
  width: 380px;
  height: 380px;
  transform: rotate(-45deg);
  margin: 15px;
}
.head_diamond img {
  width: 100%;
  height: auto;
}
.head__title{
  color: bisque;
  text-align: center;
}
.main{
  text-align: center;
  background-image: url(../assets/img/MathFractalBackground.jpg);
  background-size: cover;
  background-position: top;
  margin-top: 280px;
}
.input_box{
  margin: 18px;
  color: bisque;
  font-size: 36px;
  padding:36px;
  line-height: 1.8;
}
.result{
  color: aliceblue;
  font-size: 24px;
  line-height: 1.4;
  overflow: visible;
}
.footer{
  bottom: 0;
  color: aliceblue;
  padding-top: 20px;
  text-align: center;
}
