body{
  background-color: black;
}
.web_head{
  height: 5vh;
&__logo{
  margin: 5% 15% 5% 25%;
}
}
.main{
  text-align: center;
  background-image: url(../assets/img/MathFractalBackground.jpg);
  background-size: cover;
  background-position: top;
  height: 60vh;
  margin-top: 30vh;
}
